<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2022jiesuan_sl1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2105,666},{192,178}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{192,178}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>2022jiesuan_sl2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{376,348}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{376,348}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>2022jiesuan_sl3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{3065,691},{324,304}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,19},{324,304}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>js_chk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,714},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>js_dft_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,666},{936,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{936,46}}</string>
                <key>sourceSize</key>
                <string>{936,46}</string>
            </dict>
            <key>js_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,940},{692,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,23}}</string>
                <key>sourceSize</key>
                <string>{692,23}</string>
            </dict>
            <key>js_sz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3391,691},{326,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,299}}</string>
                <key>sourceSize</key>
                <string>{326,299}</string>
            </dict>
            <key>js_sz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,666},{272,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,255}}</string>
                <key>sourceSize</key>
                <string>{272,255}</string>
            </dict>
            <key>js_sz_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2340,662}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2340,662}}</string>
                <key>sourceSize</key>
                <string>{2340,662}</string>
            </dict>
            <key>js_sz_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2344,2},{719,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,720}}</string>
                <key>sourceSize</key>
                <string>{719,720}</string>
            </dict>
            <key>js_sz_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3065,2},{687,686}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,686}}</string>
                <key>sourceSize</key>
                <string>{687,686}</string>
            </dict>
            <key>js_sz_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,666},{407,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,208}}</string>
                <key>sourceSize</key>
                <string>{407,208}</string>
            </dict>
            <key>js_sz_di5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,666},{339,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,119}}</string>
                <key>sourceSize</key>
                <string>{339,119}</string>
            </dict>
            <key>js_sz_dwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,714},{112,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>js_sz_lshdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,876},{561,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,88}}</string>
                <key>sourceSize</key>
                <string>{561,88}</string>
            </dict>
            <key>js_sz_sx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,896},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>js_sz_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,966},{936,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{936,47}}</string>
                <key>sourceSize</key>
                <string>{936,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022js_sl.png</string>
            <key>size</key>
            <string>{3753,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9651af604d89ec6400b3292e8b38dae4:0d44478d55e76518a3e00427f953db52:32e6f5b091fdff9e012f9f803ef54a3a$</string>
            <key>textureFileName</key>
            <string>2022js_sl.png</string>
        </dict>
    </dict>
</plist>
