<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panda.facebook">
    <application>

        <!--        需要配置到对应项目的-->
        <!--com.facebook.sdk.ApplicationId-->
        <!--com.facebook.app.FacebookContentProvider${FACEBOOK_APP_ID}-->
        <!--com.facebook.CustomTabActivity-->

        <!-- facebook start -->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <provider android:authorities="@string/facebook_content_provider"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <activity android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/facebook_app_scheme" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- facebook end -->
    </application>

    <!-- facebook start  -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- facebook end  -->
</manifest>