<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ct_fc_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,532},{4,4}}</string>
                <key>offset</key>
                <string>{-17,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,19},{4,4}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,454},{54,52}}</string>
                <key>offset</key>
                <string>{-15,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,454},{190,66}}</string>
                <key>offset</key>
                <string>{-69,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{190,66}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,454},{320,76}}</string>
                <key>offset</key>
                <string>{-30,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{320,76}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{366,86}}</string>
                <key>offset</key>
                <string>{-15,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{366,86}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,444},{372,96}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{372,96}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{408,108}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{408,108}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,288},{420,120}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{420,120}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,412},{426,126}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{426,126}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,150},{426,136}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{426,136}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2},{430,146}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{430,146}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{434,156}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{434,156}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2},{438,166}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{438,166}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{440,174}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{440,174}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{450,186}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,186}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{450,194}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,194}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,200}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{450,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,200}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ct_fc_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{450,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,200}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022fancun_1.png</string>
            <key>size</key>
            <string>{2036,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfd5fd08e7a2d6a62a88d53e3d86ecca:473cbaa1fe0195d843851d6281833713:18b8b326192377daa238ceaef798654b$</string>
            <key>textureFileName</key>
            <string>2022fancun_1.png</string>
        </dict>
    </dict>
</plist>
