<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ct_cx1_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1706},{22,24}}</string>
                <key>offset</key>
                <string>{-46,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,32},{22,24}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,222},{22,16}}</string>
                <key>offset</key>
                <string>{-50,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,31},{22,16}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1706},{24,40}}</string>
                <key>offset</key>
                <string>{-54,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,30},{24,40}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,216},{26,40}}</string>
                <key>offset</key>
                <string>{-59,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,29},{26,40}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,286},{80,60}}</string>
                <key>offset</key>
                <string>{-38,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,26},{80,60}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,348},{78,60}}</string>
                <key>offset</key>
                <string>{-43,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,25},{78,60}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1304},{80,66}}</string>
                <key>offset</key>
                <string>{-48,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,24},{80,66}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,216},{82,68}}</string>
                <key>offset</key>
                <string>{-53,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,21},{82,68}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1660},{230,76}}</string>
                <key>offset</key>
                <string>{17,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,18},{230,76}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1464},{240,78}}</string>
                <key>offset</key>
                <string>{16,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,16},{240,78}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1732},{250,92}}</string>
                <key>offset</key>
                <string>{15,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,13},{250,92}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1944},{256,102}}</string>
                <key>offset</key>
                <string>{13,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,11},{256,102}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1838},{274,104}}</string>
                <key>offset</key>
                <string>{18,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,8},{274,104}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1732},{276,104}}</string>
                <key>offset</key>
                <string>{13,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,7},{276,104}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1756},{284,118}}</string>
                <key>offset</key>
                <string>{11,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,4},{284,118}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1756},{290,122}}</string>
                <key>offset</key>
                <string>{8,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{290,122}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1752},{292,120}}</string>
                <key>offset</key>
                <string>{5,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,3},{292,120}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1600},{298,130}}</string>
                <key>offset</key>
                <string>{2,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{298,130}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1464},{298,134}}</string>
                <key>offset</key>
                <string>{-4,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{298,134}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1332},{300,130}}</string>
                <key>offset</key>
                <string>{-8,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,3},{300,130}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,994},{302,148}}</string>
                <key>offset</key>
                <string>{-12,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{302,148}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,842},{310,150}}</string>
                <key>offset</key>
                <string>{-13,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{310,150}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,686},{314,154}}</string>
                <key>offset</key>
                <string>{-17,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{314,154}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1720},{326,152}}</string>
                <key>offset</key>
                <string>{-16,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{326,152}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,242},{384,160}}</string>
                <key>offset</key>
                <string>{8,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{384,160}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,222},{388,164}}</string>
                <key>offset</key>
                <string>{6,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{388,164}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,936},{392,170}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{392,170}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,444},{400,168}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,168}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,850},{366,168}}</string>
                <key>offset</key>
                <string>{17,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,1},{366,168}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1250},{370,180}}</string>
                <key>offset</key>
                <string>{15,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{370,180}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1380},{370,184}}</string>
                <key>offset</key>
                <string>{13,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{370,184}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00066.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,628},{368,186}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{368,186}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00067.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,934},{370,194}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{370,194}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00068.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,998},{372,200}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{372,200}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{374,200}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{374,200}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{384,208}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{384,208}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00071.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{384,206}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{384,206}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{384,204}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{384,204}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{376,212}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{376,212}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00074.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{378,218}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{378,218}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,216},{360,226}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{360,226}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00076.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,210},{358,230}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{358,230}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00077.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,570},{362,222}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{362,222}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00078.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,940},{362,226}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{362,226}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{364,234}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{364,234}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,238}}</string>
                <key>offset</key>
                <string>{-19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{362,238}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00081.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,582},{356,234}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{356,234}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00082.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,222},{358,236}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{358,236}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,614},{344,234}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{344,234}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00084.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1432},{344,226}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{344,226}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1020},{346,228}}</string>
                <key>offset</key>
                <string>{-22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{346,228}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00086.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1372},{346,220}}</string>
                <key>offset</key>
                <string>{-24,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{346,220}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00087.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1330},{346,206}}</string>
                <key>offset</key>
                <string>{-27,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{346,206}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00088.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{344,208}}</string>
                <key>offset</key>
                <string>{-28,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{344,208}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00089.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1678},{340,210}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{340,210}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00090.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1660},{338,214}}</string>
                <key>offset</key>
                <string>{-30,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{338,214}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,348},{336,216}}</string>
                <key>offset</key>
                <string>{-32,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{336,216}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00092.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1144},{332,186}}</string>
                <key>offset</key>
                <string>{-32,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,42},{332,186}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00093.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1306},{332,164}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{332,164}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00094.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1876},{330,164}}</string>
                <key>offset</key>
                <string>{-35,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{330,164}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00095.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,612},{322,166}}</string>
                <key>offset</key>
                <string>{-34,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,60},{322,166}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>ct_cx1_00096.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1720},{320,156}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,70},{320,156}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022cuntian_1.png</string>
            <key>size</key>
            <string>{1721,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24b42fb466370d0d5b63b8a59e7d0528:4e57a88825272edc1d2af9d2d310669b:741b4da6d74c3cf67a3f5276e06e6c77$</string>
            <key>textureFileName</key>
            <string>2022cuntian_1.png</string>
        </dict>
    </dict>
</plist>
