<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ct_cx3_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,938},{24,14}}</string>
                <key>offset</key>
                <string>{-167,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,21},{24,14}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,938},{26,18}}</string>
                <key>offset</key>
                <string>{-166,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,22},{26,18}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2602,868},{54,22}}</string>
                <key>offset</key>
                <string>{-153,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,22},{54,22}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{3796,446},{64,28}}</string>
                <key>offset</key>
                <string>{-148,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,21},{64,28}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{3762,446},{128,32}}</string>
                <key>offset</key>
                <string>{-175,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,22},{128,32}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{3722,446},{134,38}}</string>
                <key>offset</key>
                <string>{-177,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,21},{134,38}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{3678,446},{144,42}}</string>
                <key>offset</key>
                <string>{-174,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,22},{144,42}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{3628,446},{144,48}}</string>
                <key>offset</key>
                <string>{-173,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,21},{144,48}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{3648,264},{438,52}}</string>
                <key>offset</key>
                <string>{-27,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,21},{438,52}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{3628,386},{448,58}}</string>
                <key>offset</key>
                <string>{-21,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,22},{448,58}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{3628,318},{454,66}}</string>
                <key>offset</key>
                <string>{-19,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,21},{454,66}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{3252,630},{456,72}}</string>
                <key>offset</key>
                <string>{-17,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,22},{456,72}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{3628,184},{464,78}}</string>
                <key>offset</key>
                <string>{-13,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,22},{464,78}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{3628,96},{466,86}}</string>
                <key>offset</key>
                <string>{-13,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,21},{466,86}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{3628,2},{466,92}}</string>
                <key>offset</key>
                <string>{-13,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,21},{466,92}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{3548,610},{472,98}}</string>
                <key>offset</key>
                <string>{-16,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,22},{472,98}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{3440,614},{472,106}}</string>
                <key>offset</key>
                <string>{-16,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,21},{472,106}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{3326,614},{472,112}}</string>
                <key>offset</key>
                <string>{-16,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,21},{472,112}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,960},{472,118}}</string>
                <key>offset</key>
                <string>{-16,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,22},{472,118}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{476,126}}</string>
                <key>offset</key>
                <string>{-18,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,21},{476,126}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{3948,446},{488,132}}</string>
                <key>offset</key>
                <string>{-24,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,21},{488,132}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{3648,592},{494,138}}</string>
                <key>offset</key>
                <string>{-27,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,22},{494,138}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,938},{496,146}}</string>
                <key>offset</key>
                <string>{-26,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,21},{496,146}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2678,868},{500,152}}</string>
                <key>offset</key>
                <string>{-25,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,22},{500,152}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{3788,576},{504,158}}</string>
                <key>offset</key>
                <string>{-23,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,22},{504,158}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,918},{604,166}}</string>
                <key>offset</key>
                <string>{28,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,21},{604,166}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{3454,2},{606,172}}</string>
                <key>offset</key>
                <string>{27,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,21},{606,172}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{3272,2},{610,180}}</string>
                <key>offset</key>
                <string>{25,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,21},{610,180}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,896},{618,186}}</string>
                <key>offset</key>
                <string>{21,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{618,186}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00062.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,2},{626,194}}</string>
                <key>offset</key>
                <string>{17,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,21},{626,194}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2874,2},{636,200}}</string>
                <key>offset</key>
                <string>{12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{636,200}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2664,2},{646,208}}</string>
                <key>offset</key>
                <string>{7,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{646,208}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2602,652},{648,214}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{648,214}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2440,2},{648,222}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{648,222}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2210,2},{648,228}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{648,228}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,2},{648,236}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{648,236}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,652},{648,242}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{648,242}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,2},{648,250}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{648,250}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{648,256}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{648,256}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,652},{648,264}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{648,264}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{648,270}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{648,270}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00074.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{648,278}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{648,278}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00075.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,652},{648,284}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{648,284}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00076.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{648,292}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{648,292}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00077.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{648,298}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{648,298}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{648,306}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{648,306}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>ct_cx3_00079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{648,312}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{648,312}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022cuntian_3.png</string>
            <key>size</key>
            <string>{4096,1088}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7376d16061f74cc2af4390304e7c4ad4:157c0241724eb9683babb4567dea47ba:b197f9ef54dda6a8adab6de4a83441f3$</string>
            <key>textureFileName</key>
            <string>2022cuntian_3.png</string>
        </dict>
    </dict>
</plist>
