<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ct1_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{862,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{862,560}}</string>
                <key>sourceSize</key>
                <string>{862,560}</string>
            </dict>
            <key>ct1_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{650,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,41},{650,318}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>light_11_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,564},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022cuntian_guang.png</string>
            <key>size</key>
            <string>{888,884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cef8852b8b9f4ca6b01de5fa7ce1b46:8a7086d9c6bce353692f5dac1402a278:02aa501c5b4562f5054ce377ddb968a9$</string>
            <key>textureFileName</key>
            <string>2022cuntian_guang.png</string>
        </dict>
    </dict>
</plist>
