<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2022sl_g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1518},{192,178}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{192,178}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>sl_dz_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1484},{149,139}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{149,139}}</string>
                <key>sourceSize</key>
                <string>{179,155}</string>
            </dict>
            <key>sl_dz_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1518},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>sl_dz_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1862},{78,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,123}}</string>
                <key>sourceSize</key>
                <string>{78,123}</string>
            </dict>
            <key>sl_dz_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1218},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>sl_dzsl.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,790},{382,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,19},{382,106}}</string>
                <key>sourceSize</key>
                <string>{472,144}</string>
            </dict>
            <key>sl_nm_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1686},{120,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,158}}</string>
                <key>sourceSize</key>
                <string>{120,158}</string>
            </dict>
            <key>sl_nm_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1698},{188,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,162}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
            <key>sl_nm_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1218},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>sl_nm_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1317},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>sl_nmsl.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,898},{382,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{382,112}}</string>
                <key>sourceSize</key>
                <string>{472,144}</string>
            </dict>
            <key>sl_piaodai_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,844},{372,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,160}}</string>
                <key>sourceSize</key>
                <string>{372,160}</string>
            </dict>
            <key>sl_piaodai_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1269},{372,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,160}}</string>
                <key>sourceSize</key>
                <string>{372,160}</string>
            </dict>
            <key>sl_wenziditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,370},{482,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,154}}</string>
                <key>sourceSize</key>
                <string>{482,154}</string>
            </dict>
            <key>sl_yuanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,526},{396,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,262}}</string>
                <key>sourceSize</key>
                <string>{396,262}</string>
            </dict>
            <key>sl_yun_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>sl_yun_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,164},{133,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,54}}</string>
                <key>sourceSize</key>
                <string>{133,54}</string>
            </dict>
            <key>tongyong_yuanguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{420,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,433}}</string>
                <key>sourceSize</key>
                <string>{420,433}</string>
            </dict>
            <key>tx_new_jinji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,526},{316,194}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{316,194}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>tx_new_jinji_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,400}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{468,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>tx_new_jinji_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{428,372}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,22},{428,372}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>tx_new_jinji_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{472,366}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{472,366}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>tx_new_jinji_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1269},{340,352}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,19},{340,352}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>tx_new_jinji_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,898},{338,344}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,26},{338,344}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>tx_new_jinji_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1623},{330,328}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{330,328}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>tx_new_jinji_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1643},{314,304}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,59},{314,304}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>tx_new_jinji_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1244},{238,206}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,77},{238,206}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>tx_new_jinji_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1282},{234,196}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,85},{234,196}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022sl_1.png</string>
            <key>size</key>
            <string>{1021,1953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa84580bb745e5981242c7ae8f835663:24cd6abceef7137953e812891ef03c39:f3762bd3352c82614a3eab61bf249451$</string>
            <key>textureFileName</key>
            <string>2022sl_1.png</string>
        </dict>
    </dict>
</plist>
