<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sb_dz_leihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,780},{134,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,91}}</string>
                <key>sourceSize</key>
                <string>{134,91}</string>
            </dict>
            <key>sb_dz_leihua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1035},{101,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,128}}</string>
                <key>sourceSize</key>
                <string>{101,128}</string>
            </dict>
            <key>sb_dz_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{200,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,198}}</string>
                <key>sourceSize</key>
                <string>{200,198}</string>
            </dict>
            <key>sb_dz_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1131},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>sb_dz_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1094},{77,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,49}}</string>
                <key>sourceSize</key>
                <string>{77,49}</string>
            </dict>
            <key>sb_dz_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,985},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>sb_dzsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{390,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,19},{390,104}}</string>
                <key>sourceSize</key>
                <string>{472,144}</string>
            </dict>
            <key>sb_nm_leihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,873},{129,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,55}}</string>
                <key>sourceSize</key>
                <string>{129,55}</string>
            </dict>
            <key>sb_nm_shentiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1015},{110,114}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{110,114}}</string>
                <key>sourceSize</key>
                <string>{120,122}</string>
            </dict>
            <key>sb_nm_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{157,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,162}}</string>
                <key>sourceSize</key>
                <string>{157,162}</string>
            </dict>
            <key>sb_nm_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1004},{59,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,88}}</string>
                <key>sourceSize</key>
                <string>{59,88}</string>
            </dict>
            <key>sb_nm_yezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1131},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>sb_nm_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,303},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>sb_nm_zuosou.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,268},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>sb_nmsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,394},{384,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,18},{384,108}}</string>
                <key>sourceSize</key>
                <string>{472,144}</string>
            </dict>
            <key>sb_piaodai_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,641},{372,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,148}}</string>
                <key>sourceSize</key>
                <string>{372,148}</string>
            </dict>
            <key>sb_piaodai_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,268},{371,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,160}}</string>
                <key>sourceSize</key>
                <string>{371,160}</string>
            </dict>
            <key>sb_wenziditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{515,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,202}}</string>
                <key>sourceSize</key>
                <string>{515,202}</string>
            </dict>
            <key>sb_yuanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,264}}</string>
                <key>sourceSize</key>
                <string>{396,264}</string>
            </dict>
            <key>sb_yun_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1008},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>sb_yun_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,873},{133,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,54}}</string>
                <key>sourceSize</key>
                <string>{133,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022sb_1.png</string>
            <key>size</key>
            <string>{506,1173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e29e2a114cf551fae5cd14947be22b20:ffb1a7f01a06a56b253cce935cd78f2b:fa9f95590f1f54c19c79a50a256b6dfd$</string>
            <key>textureFileName</key>
            <string>2022sb_1.png</string>
        </dict>
    </dict>
</plist>
