<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2022lianzha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2138,1884},{191,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,91}}</string>
                <key>sourceSize</key>
                <string>{191,91}</string>
            </dict>
            <key>2022zhadan1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1770},{274,270}}</string>
                <key>offset</key>
                <string>{-22,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,191},{274,270}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1750},{274,270}}</string>
                <key>offset</key>
                <string>{-22,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,191},{274,270}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1750},{274,270}}</string>
                <key>offset</key>
                <string>{-22,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,191},{274,270}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2552,1565},{362,346}}</string>
                <key>offset</key>
                <string>{-22,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,166},{362,346}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2654,2},{554,500}}</string>
                <key>offset</key>
                <string>{-24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,50},{554,500}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{700,488}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{700,488}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{692,460}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,65},{692,460}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2},{642,464}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,60},{642,464}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{656,488}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,53},{656,488}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,2},{610,502}}</string>
                <key>offset</key>
                <string>{-26,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,48},{610,502}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,464},{614,512}}</string>
                <key>offset</key>
                <string>{-24,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{614,512}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,920},{604,444}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{604,444}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,506},{614,422}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{614,422}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1350},{624,380}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,106},{624,380}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1366},{634,382}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,104},{634,382}}</string>
                <key>sourceSize</key>
                <string>{700,550}</string>
            </dict>
            <key>2022zhadan2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1300},{208,150}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{208,150}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>2022zhadan2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1300},{208,150}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{208,150}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>2022zhadan2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2138,1732},{192,150}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,30},{192,150}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>2022zhadan2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2332,1732},{168,144}}</string>
                <key>offset</key>
                <string>{36,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,31},{168,144}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>2022zhadan2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2332,1732},{168,144}}</string>
                <key>offset</key>
                <string>{36,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,31},{168,144}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>2022zhadan2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2332,1878},{146,104}}</string>
                <key>offset</key>
                <string>{47,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,34},{146,104}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>2022zhadan2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2332,1878},{146,104}}</string>
                <key>offset</key>
                <string>{47,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,34},{146,104}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>2022zhadan2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1960},{120,80}}</string>
                <key>offset</key>
                <string>{60,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,58},{120,80}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>2022zhadan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2926,504},{243,401}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{243,401}}</string>
                <key>sourceSize</key>
                <string>{247,405}</string>
            </dict>
            <key>2022zhadan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3105,1887},{98,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{98,107}}</string>
                <key>sourceSize</key>
                <string>{112,115}</string>
            </dict>
            <key>2022zhadan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2480,1913},{96,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{96,114}}</string>
                <key>sourceSize</key>
                <string>{100,118}</string>
            </dict>
            <key>2022zhadan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2926,907},{248,190}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{248,190}}</string>
                <key>sourceSize</key>
                <string>{248,194}</string>
            </dict>
            <key>2022zhadan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2974,1325},{199,188}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{199,188}}</string>
                <key>sourceSize</key>
                <string>{203,196}</string>
            </dict>
            <key>2022zhdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2916,1887},{187,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,91}}</string>
                <key>sourceSize</key>
                <string>{187,91}</string>
            </dict>
            <key>behit_huojian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2916,1565},{320,248}}</string>
                <key>offset</key>
                <string>{33,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,258},{320,248}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1750},{344,264}}</string>
                <key>offset</key>
                <string>{29,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,242},{344,264}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1300},{468,272}}</string>
                <key>offset</key>
                <string>{54,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,228},{468,272}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,978},{596,320}}</string>
                <key>offset</key>
                <string>{23,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,180},{596,320}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2546,506},{622,378}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,122},{622,378}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,930},{590,418}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,82},{590,418}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,468},{608,450}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,53},{608,450}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{562,488}}</string>
                <key>offset</key>
                <string>{21,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,3},{562,488}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1484},{470,474}}</string>
                <key>offset</key>
                <string>{112,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,2},{470,474}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>behit_huojian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2974,1099},{202,224}}</string>
                <key>offset</key>
                <string>{123,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,0},{202,224}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>tx_youxichang_wangzha_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2552,1130},{420,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{420,433}}</string>
                <key>sourceSize</key>
                <string>{428,445}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022zhadanzi.png</string>
            <key>size</key>
            <string>{3210,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:651853357b6a2c3c2ef94fe5ed7b1d9e:7506e8e0d3babce0ee8f0dc4e4ade1a7:2f6fa704762194b4014ea0d164a05e09$</string>
            <key>textureFileName</key>
            <string>2022zhadanzi.png</string>
        </dict>
    </dict>
</plist>
