<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_bb_g_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1803},{85,96}}</string>
                <key>offset</key>
                <string>{-173,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{85,96}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1443},{139,104}}</string>
                <key>offset</key>
                <string>{-146,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{139,104}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1268},{173,106}}</string>
                <key>offset</key>
                <string>{-129,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{173,106}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1604},{197,108}}</string>
                <key>offset</key>
                <string>{-113,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,42},{197,108}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1035},{231,110}}</string>
                <key>offset</key>
                <string>{-94,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,42},{231,110}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,758},{275,108}}</string>
                <key>offset</key>
                <string>{-70,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,46},{275,108}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1604},{281,116}}</string>
                <key>offset</key>
                <string>{-59,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,40},{281,116}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{337,116}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,41},{337,116}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1225},{377,118}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,40},{377,118}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{417,118}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,42},{417,118}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{417,116}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,45},{417,116}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{411,116}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,46},{411,116}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,824},{399,118}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,44},{399,118}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,421},{401,118}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,43},{401,118}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{401,116}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,43},{401,116}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{401,110}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,47},{401,110}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,405},{351,108}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,50},{351,108}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1921},{347,112}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,48},{347,112}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
            <key>tx_bb_g_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1237},{343,114}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,47},{343,114}}</string>
                <key>sourceSize</key>
                <string>{431,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_paixing_tongyongxingguang.png</string>
            <key>size</key>
            <string>{352,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7bdc87bb2b84354ce0c9693203a8dbd:dffcf172e11b06d21a8ed5dc03fb2597:95c29c72d223e653b6751cefc416e5ec$</string>
            <key>textureFileName</key>
            <string>tx_paixing_tongyongxingguang.png</string>
        </dict>
    </dict>
</plist>
