<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2022feiji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,556},{1144,567}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1144,567}}</string>
                <key>sourceSize</key>
                <string>{1144,569}</string>
            </dict>
            <key>2022feiji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,556},{248,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,250}}</string>
                <key>sourceSize</key>
                <string>{248,250}</string>
            </dict>
            <key>2022feiji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1233,534}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1233,534}}</string>
                <key>sourceSize</key>
                <string>{1239,534}</string>
            </dict>
            <key>2022feiji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1125},{174,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,90}}</string>
                <key>sourceSize</key>
                <string>{174,90}</string>
            </dict>
            <key>2022feiji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{1439,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1439,552}}</string>
                <key>sourceSize</key>
                <string>{1439,552}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022feijizi.png</string>
            <key>size</key>
            <string>{1979,1237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dde93936baabadd3e09a531bd03e59ce:4115a8b9c977aa8f56220d40af8a2712:25260457efdd145439840a92369383ca$</string>
            <key>textureFileName</key>
            <string>2022feijizi.png</string>
        </dict>
    </dict>
</plist>
