<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2022feiji_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{294,82}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,8},{294,82}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>2022feiji_7_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,92}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{326,92}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>2022liandui.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{190,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,91}}</string>
                <key>sourceSize</key>
                <string>{190,91}</string>
            </dict>
            <key>2022shunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{188,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,87}}</string>
                <key>sourceSize</key>
                <string>{188,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022paixingzi.png</string>
            <key>size</key>
            <string>{1008,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:082e90183f1e8e5e61cb3a446d32c219:0e04e992b23a04a682129883be02f30c:955c1bfb353ed33f56f203714d888403$</string>
            <key>textureFileName</key>
            <string>2022paixingzi.png</string>
        </dict>
    </dict>
</plist>
