<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_youxichang_wangzha_baozha_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,754},{226,295}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,0},{226,295}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,983},{258,303}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{258,303}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,355}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,355}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{386,325}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{386,325}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,333},{294,325}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{294,325}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{298,329}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{298,329}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,684},{282,331}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{282,331}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,670},{284,329}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{284,329}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,454},{298,317}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{298,317}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,2},{300,319}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{300,319}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,660},{306,321}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{306,321}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,2},{310,257}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{310,257}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,982},{316,251}}</string>
                <key>offset</key>
                <string>{4,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{316,251}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1001},{316,245}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{316,245}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,328},{320,241}}</string>
                <key>offset</key>
                <string>{7,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{320,241}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{324,179}}</string>
                <key>offset</key>
                <string>{8,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{324,179}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,338},{330,179}}</string>
                <key>offset</key>
                <string>{9,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{330,179}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,2},{334,175}}</string>
                <key>offset</key>
                <string>{10,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{334,175}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,346},{336,175}}</string>
                <key>offset</key>
                <string>{11,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{336,175}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,690},{338,175}}</string>
                <key>offset</key>
                <string>{13,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{338,175}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,742},{342,175}}</string>
                <key>offset</key>
                <string>{14,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{342,175}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{342,169}}</string>
                <key>offset</key>
                <string>{16,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{342,169}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,396},{344,169}}</string>
                <key>offset</key>
                <string>{16,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{344,169}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,784},{344,173}}</string>
                <key>offset</key>
                <string>{16,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{344,173}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,346},{342,173}}</string>
                <key>offset</key>
                <string>{17,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{342,173}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{344,181}}</string>
                <key>offset</key>
                <string>{16,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{344,181}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{342,183}}</string>
                <key>offset</key>
                <string>{17,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{342,183}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,261},{306,191}}</string>
                <key>offset</key>
                <string>{2,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{306,191}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1086},{336,155}}</string>
                <key>offset</key>
                <string>{20,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{336,155}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
            <key>tx_youxichang_wangzha_baozha_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1030},{302,199}}</string>
                <key>offset</key>
                <string>{6,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{302,199}}</string>
                <key>sourceSize</key>
                <string>{394,355}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxichang_wangzha_baozha.png</string>
            <key>size</key>
            <string>{1987,1248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fddfc7a62bd86e043c0725f6015638f:9a187bbb8fd7d207da9094857c26f5a8:f63b3aedb56b2301b9c8f54858daa9e2$</string>
            <key>textureFileName</key>
            <string>tx_youxichang_wangzha_baozha.png</string>
        </dict>
    </dict>
</plist>
