<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ct1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2101,513},{649,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,317}}</string>
                <key>sourceSize</key>
                <string>{649,317}</string>
            </dict>
            <key>ct1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3412,2},{602,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,194}}</string>
                <key>sourceSize</key>
                <string>{602,194}</string>
            </dict>
            <key>ct_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2957,330},{346,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,320}}</string>
                <key>sourceSize</key>
                <string>{346,320}</string>
            </dict>
            <key>ct_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2474,832},{144,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{144,69}}</string>
                <key>sourceSize</key>
                <string>{144,85}</string>
            </dict>
            <key>ct_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,880},{185,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,74}}</string>
                <key>sourceSize</key>
                <string>{185,74}</string>
            </dict>
            <key>ct_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2101,832},{371,125}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{371,125}}</string>
                <key>sourceSize</key>
                <string>{385,135}</string>
            </dict>
            <key>ct_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3422,606},{222,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,193}}</string>
                <key>sourceSize</key>
                <string>{222,193}</string>
            </dict>
            <key>ct_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{963,962}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,12},{963,962}}</string>
                <key>sourceSize</key>
                <string>{1049,1008}</string>
            </dict>
            <key>ct_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2101,373},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>ct_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2228,2},{832,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{832,320}}</string>
                <key>sourceSize</key>
                <string>{832,320}</string>
            </dict>
            <key>ct_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,687},{838,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{838,191}}</string>
                <key>sourceSize</key>
                <string>{838,191}</string>
            </dict>
            <key>ct_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3062,2},{348,326}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{348,326}}</string>
                <key>sourceSize</key>
                <string>{348,328}</string>
            </dict>
            <key>ct_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{1259,369}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1259,369}}</string>
                <key>sourceSize</key>
                <string>{1259,375}</string>
            </dict>
            <key>ct_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,373},{1132,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1132,312}}</string>
                <key>sourceSize</key>
                <string>{1132,312}</string>
            </dict>
            <key>ct_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3322,606},{336,98}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{336,98}}</string>
                <key>sourceSize</key>
                <string>{342,98}</string>
            </dict>
            <key>ct_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2957,652},{363,294}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{363,294}}</string>
                <key>sourceSize</key>
                <string>{363,310}</string>
            </dict>
            <key>ct_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,687},{292,252}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{292,252}}</string>
                <key>sourceSize</key>
                <string>{292,256}</string>
            </dict>
            <key>ct_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2228,324},{654,187}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{654,187}}</string>
                <key>sourceSize</key>
                <string>{654,197}</string>
            </dict>
            <key>ct_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2752,513},{451,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,203}}</string>
                <key>sourceSize</key>
                <string>{451,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022cuntian_4.png</string>
            <key>size</key>
            <string>{3618,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:704acf59e84e0b53b7d900203c0c4d9a:f0c9fc4bdace5f1026b263edfff68a87:bf0880a81856f41481ba8fc1c7cb6537$</string>
            <key>textureFileName</key>
            <string>2022cuntian_4.png</string>
        </dict>
    </dict>
</plist>
