<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2022_baojing2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,154},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,96}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>2022_baojing_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,180}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>DDZ_dizhupai_paibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{74,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,96}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2022_baojingqi.png</string>
            <key>size</key>
            <string>{184,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58de514657f6f25df414b7fc44816274:42eb5a7764f18216fe381829dc93ca6c:94bc1195e728a5b615f15b4954194ed4$</string>
            <key>textureFileName</key>
            <string>2022_baojingqi.png</string>
        </dict>
    </dict>
</plist>
