<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Flare_003_tex_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{492,498}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{492,498}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Flare_003_tex_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,556},{488,502}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{488,502}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Flare_003_tex_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{474,500}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{474,500}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Flare_003_tex_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,496},{466,488}}</string>
                <key>offset</key>
                <string>{-22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{466,488}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Flare_003_tex_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,2},{408,454}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,54},{408,454}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Flare_003_tex_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1046},{388,400}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,105},{388,400}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Flare_003_tex_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,458},{322,292}}</string>
                <key>offset</key>
                <string>{-18,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,163},{322,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>J_huangdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,752},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>J_jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{438,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,252}}</string>
                <key>sourceSize</key>
                <string>{438,252}</string>
            </dict>
            <key>J_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,752},{776,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{776,182}}</string>
                <key>sourceSize</key>
                <string>{776,182}</string>
            </dict>
            <key>J_laba01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,986},{320,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,350}}</string>
                <key>sourceSize</key>
                <string>{320,350}</string>
            </dict>
            <key>J_laba02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1046},{136,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,314}}</string>
                <key>sourceSize</key>
                <string>{136,314}</string>
            </dict>
            <key>J_landeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,912},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>J_lvdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,1476},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>J_putongd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>J_zhuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{748,748}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{748,748}}</string>
                <key>sourceSize</key>
                <string>{748,748}</string>
            </dict>
            <key>J_zideng.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,832},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>tx_hawai_zhuanpan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{552,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,348}}</string>
                <key>sourceSize</key>
                <string>{552,348}</string>
            </dict>
            <key>tx_youxichang_wangzha_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,986},{420,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,433}}</string>
                <key>sourceSize</key>
                <string>{420,433}</string>
            </dict>
            <key>zhuanpan_deng_huang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,1338},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{136,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>zhuanpan_deng_lan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,1338},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>zhuanpan_deng_lv_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,782},{132,132}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{132,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>zhuanpan_deng_zi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1362},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_zhuanpan_2.png</string>
            <key>size</key>
            <string>{2018,1572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6abca8bec75fca4d0f46ae688822b767:4c9719fbd02b6abad2734f2bec119ee6:a38f87205e6ea38f1a8ab09e9036fcb9$</string>
            <key>textureFileName</key>
            <string>tx_zhuanpan_2.png</string>
        </dict>
    </dict>
</plist>
