<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>J_huangdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>J_landeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,296},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>J_lvdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,372},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>J_putongd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,372},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>J_tanchuk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{862,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{862,450}}</string>
                <key>sourceSize</key>
                <string>{862,450}</string>
            </dict>
            <key>J_zideng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,82},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>zhuanpan_deng_huang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,302},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>zhuanpan_deng_lan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,154},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>zhuanpan_deng_lv_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,162},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>zhuanpan_deng_zi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuanpan_tanchuang.png</string>
            <key>size</key>
            <string>{1148,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:246bd0dba8f12d42bcf7b449af8885d4:257512d27997c1027eb98ec7c6dae0c7:2cfeedb05973535a3ef12fde8ac40850$</string>
            <key>textureFileName</key>
            <string>zhuanpan_tanchuang.png</string>
        </dict>
    </dict>
</plist>
