<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SDJ_libao1_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,299},{74,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,33}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>SDJ_libao1_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,218},{79,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,56}}</string>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
            <key>SDJ_shu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,350}}</string>
                <key>sourceSize</key>
                <string>{368,350}</string>
            </dict>
            <key>jiesuan_caidai_tongyong3_00000_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{46,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,6},{46,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_shengdan_lihe_caidai1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,292},{46,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{46,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tx_shengdan_lihe_caidai2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,208},{64,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{64,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tx_shengdan_lihe_caidai3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,286},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{54,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tx_shengdan_lihe_caidai4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,122},{84,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tx_shengdan_lihe_shanguang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,140},{116,108}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,66},{116,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_shengdan_lihe_shanguang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,126},{122,90}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,60},{122,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_shengdan_lihe_shanguang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,248},{116,104}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{116,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_shengdan_lihe_shanguang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,258},{94,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,43},{94,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_shengdan_lihe_shanguang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{106,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,36},{106,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_shengdan_lihe_shanguang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{114,126}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{114,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_shengdan_lihe_shanguang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{118,112}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,39},{118,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_shengdan_lihe_shanguang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,130},{116,116}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{116,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_shengdan_lihe_shanguang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{116,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,38},{116,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_shengdan_lihe_shanguang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,218},{110,66}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,55},{110,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_shengdan_lihe_shanguang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,248},{10,8}}</string>
                <key>offset</key>
                <string>{37,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,99},{10,8}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_haiwai_shengdan_shu_1.png</string>
            <key>size</key>
            <string>{876,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87fcaf6afa54ba1f89a62aa39130e1e0:7d4ce02ce7185f64e4825e68866fcbd5:1c67ae15a876bc02956b03e7c0bdc848$</string>
            <key>textureFileName</key>
            <string>tx_haiwai_shengdan_shu_1.png</string>
        </dict>
    </dict>
</plist>
