<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_youxichang_wangzha_huojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,302},{177,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,375}}</string>
                <key>sourceSize</key>
                <string>{177,375}</string>
            </dict>
            <key>tx_youxichang_wangzha_lieheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,679},{282,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,195}}</string>
                <key>sourceSize</key>
                <string>{282,195}</string>
            </dict>
            <key>tx_youxichang_wangzha_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{395,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,388}}</string>
                <key>sourceSize</key>
                <string>{395,388}</string>
            </dict>
            <key>tx_youxichang_wangzha_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{428,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,445}}</string>
                <key>sourceSize</key>
                <string>{428,445}</string>
            </dict>
            <key>tx_youxichang_wangzha_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1053},{99,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,325}}</string>
                <key>sourceSize</key>
                <string>{99,325}</string>
            </dict>
            <key>tx_youxichang_wangzha_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{138,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,584}}</string>
                <key>sourceSize</key>
                <string>{138,584}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,995},{159,152}}</string>
                <key>offset</key>
                <string>{-8,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,239},{159,152}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,983},{169,170}}</string>
                <key>offset</key>
                <string>{-7,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,224},{169,170}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,963},{179,188}}</string>
                <key>offset</key>
                <string>{-6,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,209},{179,188}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,758},{191,204}}</string>
                <key>offset</key>
                <string>{-5,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,192},{191,204}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,804},{205,234}}</string>
                <key>offset</key>
                <string>{-3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,167},{205,234}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,539},{217,256}}</string>
                <key>offset</key>
                <string>{-3,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,149},{217,256}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,717},{227,276}}</string>
                <key>offset</key>
                <string>{-3,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,130},{227,276}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,241},{233,296}}</string>
                <key>offset</key>
                <string>{-3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,110},{233,296}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,241},{239,324}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,82},{239,324}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,223},{241,342}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,63},{241,342}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,298},{229,354}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{229,354}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,302},{233,368}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{233,368}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{237,384}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{237,384}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,308},{223,392}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{223,392}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{219,390}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{219,390}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,142},{221,154}}</string>
                <key>offset</key>
                <string>{13,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,233},{221,154}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_lizi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,758},{223,156}}</string>
                <key>offset</key>
                <string>{14,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,228},{223,156}}</string>
                <key>sourceSize</key>
                <string>{251,406}</string>
            </dict>
            <key>tx_youxichang_wangzha_wenzi_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1014},{216,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,123}}</string>
                <key>sourceSize</key>
                <string>{216,123}</string>
            </dict>
            <key>tx_youxichang_wangzha_wenzi_zi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{648,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,304}}</string>
                <key>sourceSize</key>
                <string>{648,304}</string>
            </dict>
            <key>tx_youxichang_wangzha_yanwu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1011},{253,126}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,10},{253,126}}</string>
                <key>sourceSize</key>
                <string>{369,158}</string>
            </dict>
            <key>tx_youxichang_wangzha_yanwu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,717},{295,144}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{295,144}}</string>
                <key>sourceSize</key>
                <string>{369,158}</string>
            </dict>
            <key>tx_youxichang_wangzha_yanwu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,672},{327,154}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{327,154}}</string>
                <key>sourceSize</key>
                <string>{369,158}</string>
            </dict>
            <key>tx_youxichang_wangzha_yanwu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,755},{351,154}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,154}}</string>
                <key>sourceSize</key>
                <string>{369,158}</string>
            </dict>
            <key>tx_youxichang_wangzha_yanwu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,702},{349,156}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{349,156}}</string>
                <key>sourceSize</key>
                <string>{369,158}</string>
            </dict>
            <key>tx_youxichang_wangzha_yanwu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,142},{361,158}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{361,158}}</string>
                <key>sourceSize</key>
                <string>{369,158}</string>
            </dict>
            <key>tx_youxichang_wangzha_yanwu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,567},{365,148}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{365,148}}</string>
                <key>sourceSize</key>
                <string>{369,158}</string>
            </dict>
            <key>tx_youxichang_wangzha_yanwu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,654},{229,148}}</string>
                <key>offset</key>
                <string>{52,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,10},{229,148}}</string>
                <key>sourceSize</key>
                <string>{369,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxichang_wangzha_baozha02.png</string>
            <key>size</key>
            <string>{2045,1154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91ab58f1ab9cad7f6842725e79f712e1:dff9009d416352e263a292e5f3154376:811b08c09cb8952cb52f9a8fb84bb6c5$</string>
            <key>textureFileName</key>
            <string>tx_youxichang_wangzha_baozha02.png</string>
        </dict>
    </dict>
</plist>
