<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>main_btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1890},{80,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,63}</string>
			</dict>
			<key>settlement_btn_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1974},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,26}</string>
			</dict>
			<key>settlement_img_xingxing_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,1054},{261,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,263}</string>
			</dict>
			<key>tx_dizhushengli_douzii.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,2000},{37,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,34}</string>
			</dict>
			<key>tx_dizhushengli_maozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,2000},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>
			<key>tx_dizhushengli_wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,1832},{347,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{347,124}</string>
			</dict>
			<key>tx_dizhushibai_wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,0},{347,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{347,122}</string>
			</dict>
			<key>tx_nonmingshengli_wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,1832},{351,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,124}</string>
			</dict>
			<key>tx_nonmingshibai_wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,0},{347,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{347,122}</string>
			</dict>
			<key>tx_shibai_chibang.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1976},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>
			<key>tx_shibai_douzii.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1976},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>tx_shibai_maozi.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1976},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>
			<key>tx_youxichang_jiesuan_anniu01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,656},{398,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{398,146}</string>
			</dict>
			<key>tx_youxichang_jiesuan_anniu02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1745,1054},{398,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{398,146}</string>
			</dict>
			<key>tx_youxichang_jiesuan_caidai01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1918},{118,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,111}</string>
			</dict>
			<key>tx_youxichang_jiesuan_caidai02.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,1974},{63,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,60}</string>
			</dict>
			<key>tx_youxichang_jiesuan_caidai03.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,1974},{39,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,52}</string>
			</dict>
			<key>tx_youxichang_jiesuan_caidai04.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1974},{47,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,58}</string>
			</dict>
			<key>tx_youxichang_jiesuan_guangxiao_light01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{991,998}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{991,998}</string>
			</dict>
			<key>tx_youxichang_jiesuan_guangxiao_light02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,991},{553,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{553,553}</string>
			</dict>
			<key>tx_youxichang_jiesuan_jindutiao_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1544},{198,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,28}</string>
			</dict>
			<key>tx_youxichang_jiesuan_jindutiao_dizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,1871},{93,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,89}</string>
			</dict>
			<key>tx_youxichang_jiesuan_jindutiao_honbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1890},{143,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,150}</string>
			</dict>
			<key>tx_youxichang_jiesuan_jindutiao_honbaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1694},{428,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{428,138}</string>
			</dict>
			<key>tx_youxichang_jiesuan_jindutiao_jindu.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1976},{65,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,24}</string>
			</dict>
			<key>tx_youxichang_jiesuan_shengli_hontiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,991},{880,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{880,212}</string>
			</dict>
			<key>tx_youxichang_jiesuan_shengli_wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1739,1815},{259,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,144}</string>
			</dict>
			<key>tx_youxichang_jiesuan_shibai_lantiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,991},{880,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{880,212}</string>
			</dict>
			<key>tx_youxichang_jiesuan_shibai_wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,695},{265,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,143}</string>
			</dict>
			<key>tx_youxichang_jiesuan_shuye.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1976},{38,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,41}</string>
			</dict>
			<key>tx_youxichang_jiesuan_tishi_baikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1871},{399,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{399,73}</string>
			</dict>
			<key>tx_youxichang_jiesuan_tubiao_baopei.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1742},{78,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,41}</string>
			</dict>
			<key>tx_youxichang_jiesuan_tubiao_fengding.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1820},{78,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,41}</string>
			</dict>
			<key>tx_youxichang_jiesuan_tubiao_pochan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1516,1956},{104,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,74}</string>
			</dict>
			<key>tx_youxichang_jiesuan_tubiao_tishengshangxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,1918},{172,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,56}</string>
			</dict>
			<key>tx_youxichang_jiesuan_xingxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1956},{74,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,75}</string>
			</dict>
			<key>tx_youxichang_jiesuan_xingxi_dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,0},{1405,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1405,486}</string>
			</dict>
			<key>tx_youxichang_jiesuan_xingxi_heitiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1970},{1072,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1072,6}</string>
			</dict>
			<key>tx_youxichang_renwu_dizhu_ku01.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1405},{288,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,289}</string>
			</dict>
			<key>tx_youxichang_renwu_dizhu_ku02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1405},{205,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,350}</string>
			</dict>
			<key>tx_youxichang_renwu_dizhu_xiao01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1544},{294,374}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,374}</string>
			</dict>
			<key>tx_youxichang_renwu_dizhu_xiao02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,1610},{205,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,350}</string>
			</dict>
			<key>tx_youxichang_renwu_nonming_ku01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,0},{227,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,308}</string>
			</dict>
			<key>tx_youxichang_renwu_nonming_ku02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,308},{198,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,348}</string>
			</dict>
			<key>tx_youxichang_renwu_nonming_xiao01.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1544},{218,346}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,346}</string>
			</dict>
			<key>tx_youxichang_renwu_nonming_xiao02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,347},{198,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,348}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>tx_youxichang_jiesuan_dontai.png</string>
			<key>realTextureFileName</key>
			<string>tx_youxichang_jiesuan_dontai.png</string>
			<key>size</key>
			<string>{1998,2034}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1998</integer>
			<key>height</key>
			<integer>2034</integer>
		</dict>
	</dict>
</plist>