<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DT_sc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{177,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,169}}</string>
                <key>sourceSize</key>
                <string>{177,169}</string>
            </dict>
            <key>DT_sc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>DT_sc4.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,31},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>DT_sc5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,181},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>DT_sc_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,201}}</string>
                <key>sourceSize</key>
                <string>{224,201}</string>
            </dict>
            <key>DT_sc_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,164},{39,28}}</string>
                <key>offset</key>
                <string>{12,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,56},{39,28}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,158},{43,36}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,48},{43,36}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,56},{47,42}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,42},{47,42}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,105},{51,48}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{51,48}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{53,52}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,32},{53,52}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,138},{57,58}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{57,58}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,142},{59,62}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{59,62}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,78},{61,68}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{61,68}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,82},{63,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{63,74}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,84},{63,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{63,78}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{63,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{63,80}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{63,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{63,78}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,2},{61,74}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{61,74}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,72},{59,68}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{59,68}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,72},{57,64}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{57,64}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,148},{53,58}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{53,58}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{49,52}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{49,52}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,155},{47,46}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{47,46}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,158},{43,40}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{43,40}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>tx_ddz_2022_sc2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,164},{39,34}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{39,34}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_ddz_2022_dating_shangcheng.png</string>
            <key>size</key>
            <string>{798,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b540ff9af4dad215879ba0dc04909716:77f191348dc54d940c01f64ac56acfd3:5ef1e184db9cba56fe5491f92b10b9c4$</string>
            <key>textureFileName</key>
            <string>tx_ddz_2022_dating_shangcheng.png</string>
        </dict>
    </dict>
</plist>
